name: Agentic Workflow

on:
  pull_request:
    types: [opened, reopened, synchronize]

permissions:
  contents: read
  pull-requests: write
  packages: read

jobs:
  run:
    runs-on: ubuntu-latest
    env:
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      MODEL_ID: $MODEL_ID
      GITHUB_PAT_TOKEN: ${{ secrets.GH_TOKEN }}
      GITHUB_REPO: ${{ github.repository }}
      GITHUB_OWNER: ${{ github.repository_owner }}
      TARGET_PR_NUMBER: ${{ github.event.pull_request.number }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: 2.0.0
          virtualenvs-create: false

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Install dependencies
        working-directory: .
        run: |
          poetry install

      - name: Run agentic workflow
        working-directory: .
        run: |
          pwd
          echo "Running agentic workflow script..."
          poetry run start
